In [1]:
import pandas as pd
import random

### Generate a set of tasks and the time that each takes

In [2]:
num_tasks = 10

tasks = pd.DataFrame(index=list(range(1, num_tasks+ 1)))
tasks['Time'] = [random.randint(1, 5) for i in range(len(tasks))]
tasks.index.name = 'Task'
tasks

      Time
Task
1        5
2        3
3        4
4        4
5        2
6        4
7        2
8        4
9        5
10       5

### Generate a set of resources, the number of hours each take, and the cost per hour for each resource

In [7]:
num_resources = 6
resources = pd.DataFrame(index=[chr(65 + i) for i in range(num_resources)])
resources['AvailableTime'] = [random.randint(6, 10) for i in range(len(resources))]
resources['CostPerHour'] = [random.randint(15, 30) for i in range(len(resources))]
resources.index.name = 'Resource'
resources

          AvailableTime  CostPerHour
Resource
A                     8           15
B                     8           23
C                     7           28
D                     7           21
E                     7           28
F                    10           19

### Generate the set of tasks that each resource can perform

In [8]:
avg_percent_of_tasks_for_resource = 0.6
tasks_for_resource = [[r, t, (1 if random.random() < avg_percent_of_tasks_for_resource else 0)]for r in resources.index for t in tasks.index ]
tasks_for_resource = pd.DataFrame(data=tasks_for_resource, columns=['Resource', 'Task', 'CanPerform']).set_index(['Resource', 'Task']).query('CanPerform == 1')
tasks_for_resource

               CanPerform
Resource Task
A        1              1
         2              1
         4              1
         5              1
         6              1
         8              1
         9              1
B        1              1
         3              1
         4              1
         5              1
         6              1
         9              1
         10             1
C        1              1
         2              1
         5              1
         6              1
         8              1
         9              1
         10             1
D        4              1
         5              1
         6              1
         7              1
         8              1
         9              1
E        2              1
         3              1
         4              1
         6              1
         7              1
F        2              1
         3              1
         4              1
         5              1
         6              1
         7              1

In [9]:
with pd.ExcelWriter('../data/data.xlsx') as xlsxwriter:
    tasks.to_excel(xlsxwriter, 'Tasks', merge_cells=False)
    resources.to_excel(xlsxwriter, 'Resources', merge_cells=False)
    tasks_for_resource.to_excel(xlsxwriter, 'Tasks For Resources', merge_cells=False)